@import '../base/_config';

.tag {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    font-family: "ubuntu";

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }
}

.tag-cloud {
    margin-left: 3em;
    margin-right: 3em;
}

.tag-cloud-tags {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
        margin-left: 7px;
        margin-right: 7px;
        font-family: "ubuntu";
    }
}

.categories-all {
    margin-top: 1em;
    .category-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .category-list-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            a {
                color: $color-icon-white;
                padding: 0.4em;

                body.dark & {
                    color: $color-icon-black;
                }

                &:hover {
                    color: $color-content-white;

                    body.dark & {
                        color: $color-content-black;
                    }
                }
            }
        }
    }
}

.category-list-count {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: $color-content-white;

    body.dark & {
        color: $color-content-black;
    }

    &:hover {
        color: $color-icon-white;

        body.dark & {
            color: $color-icon-black;
        }
    }
}


@media only screen and (max-width: 600px) {
  .categories-all {
    margin-left: 20px;
    margin-right: 20px;
  }
}
