script(src='/script/jquery.min.js')

if theme.fancybox
  != css('/fancybox/jquery.fancybox')
  != js('/fancybox/jquery.fancybox.pack')

script(src='/script/index.js')
script(src='/script/node.js')
script(src='/script/loading-bar.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async='')
