// Basic Configuration

// Colores Global

// White
$color-background-white: #FFF;
$color-background-header-white: #f0f0f0;
$color-letter-white: #111;

$color-border-white: #ced1d7;

$color-green-white: #184A45;
$color-brown-white: #774927;
$color-yellow-white: #775B27;
$color-blue-white: #1F304F;
$color-red-white: #f2e6e5;
$color-red-strong-white: #c65959;
$color-red-content-white: #cc6a6a;

$color-header-a-strong: #43655a;
$color-header-a-weak: #5f7f7f;
$color-header-a-strong-select: #474554;

$color-circle-avatar: #829aa0;

$color-background-article: #ced1d7;
$color-tag-select: #a9b5bd;

$color-content-white: #383838;
$color-button-select: #c8fcea;
$color-icon-white: #324b4c;

$color-background-dialog-white: rgba(255, 255, 255, 0.9);
$color-background-description-about: #d5d2e4;

$color-code-countline-white: #d9d9d9;
$color-table-odd-white: #c6c6c6;
$color-tag-white: #272b2d;; //


// Dark
$color-background-black: #363e40;
$color-background-header-black: #272b2d;
$color-letter-black: #c0c5c8;

$color-border-black: #425561;

$color-green-black: #184A45;
$color-brown-black: #774927;
$color-yellow-black: #775B27;
$color-blue-black: #1F304F;

$color-red-black: #f2e6e5;
$color-red-strong-black: #c65959;
$color-red-content-black: #cc6a6a;

$color-header-a-strong-black: #ebfcff;
$color-header-a-weak-black: #dcefeb;
$color-header-a-strong-select-black: #2b8075;

$color-circle-avatar-black: #2d6464;

$color-background-article-black: #383e3c;
$color-tag-select-black: #606371;

$color-content-black: #8f7158;
$color-button-select-black: #1d2122;
$color-icon-black: #007c4a;

$color-background-dialog-black: rgba(0, 0, 0, 0.9);
$color-background-description-about-black: #324b50;

$color-code-countline-black: #272b2d;
$color-table-odd-black: #294450;
$color-tag-black: #272b2d;
