// Preset of Page
@import './_config';

@font-face
{
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Ubuntu";
    src: url("/fonts/ubuntu/ubuntu.woff2") format("woff");
}

@font-face
{
    font-family: "Meslo LG";
    src: url("/fonts/meslo/MesloLGS-Regular.ttf") format('truetype');
    font-style: normal;
}

body {
    background-color: $color-background-white;
    color: $color-letter-white;
    margin: 0;
    transition: .3s ease all;
};

body.dark {
    background-color: $color-background-black;
    color: $color-letter-black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    font-family: "FontAwesome";
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input  {
    margin-top: 0.5em;
    background-color: $color-code-countline-white;
    border: 1px solid $color-header-a-strong-select;
    padding: 0.4em;

    body.dark & {
        background-color: $color-code-countline-black;
        border: 1px solid $color-header-a-strong-select-black;
        color: $color-background-header-white;
    }
}

textarea {
    margin-top: 0.5em;
    background-color: $color-code-countline-white;
    border: 1px solid $color-header-a-strong-select;
    min-height: 200px;
    resize: vertical;
    paddding: 0.4em;

    body.dark & {
        background-color: $color-code-countline-black;
        border: 1px solid $color-header-a-strong-select-black;
        color: $color-background-header-white;
    }
}

.content-buttons {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-around;
}

button {
    margin-top: 0.5em;
}

.date {
    text-align: right;
    margin-right: 0.5em;

    p {
        font-family: "ubuntu";
        margin: 0;
        font-size: 14px;
        color: $color-header-a-weak;

        body.dark & {
            color: $color-header-a-weak-black;
        }
    }
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    a:hover {
        border-radius: 20px;
        // background-color: red;
        color: white;
        body.dark & {
            color: white;
        }
    }
}

blockquote {
    display:block;
    background: $color-background-header-white;
    color: $color-content-white;
    font-size: 20px;
    text-align: justify;
    border-left: 15px solid $color-header-a-strong;
    font-family: "ubuntu";
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    border-radius: 10px;

    body.dark & {
        background: $color-background-header-black;
        color: $color-content-black;
        border-left: 15px solid $color-header-a-strong-black;
    }
}

blockquote p {
    display: inline;
}

pre {
    font-family: "Meslo LG";
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.025em;
    font-weight: 500;
    border-radius: 8px;
    margin-left: 1.3em;
    margin-right: 0.5em;
    background-color: $color-background-header-white;
    color: $color-content-white;
    overflow: auto;

    body.dark & {
        background-color: $color-background-header-black;
        color: $color-content-black;
    }

    code {
        border: 0;
    }
}

table {
    justify-content: center;
    margin: 0 auto;
    width: -moz-available;
    text-align: center;

    thead {
        background-color: $color-header-a-strong;
        color: $color-code-countline-white;
        text-align: center;

        body.dark & {
            background-color: $color-header-a-strong-black;
            color: $color-code-countline-black;
        }
    }

    tbody {
        font-weight: 200;

        tr:nth-child(2n) {
            background-color: $color-table-odd-white;

            body.dark & {
                background-color: $color-table-odd-black;
            }
        }

        tr:nth-child(2n+1) {
            background-color: $color-background-header-white;

            body.dark & {
                background-color: $color-background-header-black;
            }
        }
    }
}

hr {
    margin-left: 2em;
    margin-right: 2em;
    color: $color-content-white;

    body.dark & {
        color: $color-content-black;
    }
}

.title {
    font-family: "ubuntu";
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.077em;
    font-weight: 600;
}

.comments {
    margin: 2em;
}
