@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu/ubuntu.woff2") format("woff");
}
@font-face {
  font-family: "Meslo LG";
  src: url("/fonts/meslo/MesloLGS-Regular.ttf") format("truetype");
  font-style: normal;
}
body {
  background-color: #FFF;
  color: #111;
  margin: 0;
  transition: 0.3s ease all;
}

body.dark {
  background-color: #363e40;
  color: #c0c5c8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-family: "FontAwesome";
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1em;
}

input {
  margin-top: 0.5em;
  background-color: #d9d9d9;
  border: 1px solid #474554;
  padding: 0.4em;
}
body.dark input {
  background-color: #272b2d;
  border: 1px solid #2b8075;
  color: #f0f0f0;
}

textarea {
  margin-top: 0.5em;
  background-color: #d9d9d9;
  border: 1px solid #474554;
  min-height: 200px;
  resize: vertical;
  paddding: 0.4em;
}
body.dark textarea {
  background-color: #272b2d;
  border: 1px solid #2b8075;
  color: #f0f0f0;
}

.content-buttons {
  margin-top: 1.2em;
  display: flex;
  justify-content: space-around;
}

button {
  margin-top: 0.5em;
}

.date {
  text-align: right;
  margin-right: 0.5em;
}
.date p {
  font-family: "ubuntu";
  margin: 0;
  font-size: 14px;
  color: #5f7f7f;
}
body.dark .date p {
  color: #dcefeb;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.tags a:hover {
  border-radius: 20px;
  color: white;
}
body.dark .tags a:hover {
  color: white;
}

blockquote {
  display: block;
  background: #f0f0f0;
  color: #383838;
  font-size: 20px;
  text-align: justify;
  border-left: 15px solid #43655a;
  font-family: "ubuntu";
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.5em;
  border-radius: 10px;
}
body.dark blockquote {
  background: #272b2d;
  color: #8f7158;
  border-left: 15px solid #ebfcff;
}

blockquote p {
  display: inline;
}

pre {
  font-family: "Meslo LG";
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.025em;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 1.3em;
  margin-right: 0.5em;
  background-color: #f0f0f0;
  color: #383838;
  overflow: auto;
}
body.dark pre {
  background-color: #272b2d;
  color: #8f7158;
}
pre code {
  border: 0;
}

table {
  justify-content: center;
  margin: 0 auto;
  width: -moz-available;
  text-align: center;
}
table thead {
  background-color: #43655a;
  color: #d9d9d9;
  text-align: center;
}
body.dark table thead {
  background-color: #ebfcff;
  color: #272b2d;
}
table tbody {
  font-weight: 200;
}
table tbody tr:nth-child(2n) {
  background-color: #c6c6c6;
}
body.dark table tbody tr:nth-child(2n) {
  background-color: #294450;
}
table tbody tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
body.dark table tbody tr:nth-child(2n+1) {
  background-color: #272b2d;
}

hr {
  margin-left: 2em;
  margin-right: 2em;
  color: #383838;
}
body.dark hr {
  color: #8f7158;
}

.title {
  font-family: "ubuntu";
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.077em;
  font-weight: 600;
}

.comments {
  margin: 2em;
}

.tag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  font-family: "ubuntu";
}
.title-content h1, .title-content h2, .title-content h3, .title-content h4, .title-content h5, .title-content h6 {
  margin: 0;
  padding: 0;
}

.tag-cloud {
  margin-left: 3em;
  margin-right: 3em;
}

.tag-cloud-tags {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.tag-cloud-tags a {
  margin-left: 7px;
  margin-right: 7px;
  font-family: "ubuntu";
}

.categories-all {
  margin-top: 1em;
}
.categories-all .category-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.categories-all .category-list .category-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.categories-all .category-list .category-list-item a {
  color: #324b4c;
  padding: 0.4em;
}
body.dark .categories-all .category-list .category-list-item a {
  color: #007c4a;
}
.categories-all .category-list .category-list-item a:hover {
  color: #383838;
}
body.dark .categories-all .category-list .category-list-item a:hover {
  color: #8f7158;
}

.category-list-count {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: #383838;
}
body.dark .category-list-count {
  color: #8f7158;
}
.category-list-count:hover {
  color: #324b4c;
}
body.dark .category-list-count:hover {
  color: #007c4a;
}

@media only screen and (max-width: 600px) {
  .categories-all {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.dialog {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #383838;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.dark .dialog {
  background-color: rgba(0, 0, 0, 0.9);
  color: #8f7158;
}

svg {
  display: inline-block;
  width: 8em;
  padding: 0px 100px;
}

/* SVG RULES */
.hand,
.hand-double,
.hand-flick,
.hand-hold,
.hand-rock,
.hand-tap,
.hand-x,
.hand-y {
  fill: #fff;
  stroke: #184A45;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrow-down,
.arrow-head,
.arrow-left,
.arrow-right,
.arrow-up,
.arrow-up-1,
.arrow-up-2,
.arrow-up-3,
.hold-1,
.hold-2,
.line-horizontal,
.line-rotate,
.line-vertical,
.notes,
.tap-1,
.tap-2 {
  fill: transparent;
  stroke: #184A45;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrow-up-2,
.hold-1,
.tap-1 {
  opacity: 0.5;
}

.arrow-up-1,
.hold-2,
.tap-2 {
  opacity: 0.25;
}

.arrow-up-3,
.swipe-horizontal,
.swipe-rotate,
.swipe-vertical {
  opacity: 0.75;
}

.hold-1,
.hold-2,
.notes {
  opacity: 0;
}

/* ANIMATION KEYFRAMES */
@keyframes tap-double {
  0% {
    transform: rotateX(0deg);
  }
  10% {
    transform: rotateX(12.5deg);
  }
  25% {
    transform: rotateX(25deg);
  }
  35% {
    transform: rotateX(10deg);
  }
  50% {
    transform: rotateX(25deg);
  }
}
@keyframes tap {
  0% {
    transform: rotateX(0deg);
  }
  10% {
    transform: rotateX(12.5deg);
  }
  25% {
    transform: rotateX(25deg);
  }
}
@keyframes tap-circle {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    transform: scale(1.05);
    opacity: 0.6;
  }
  80% {
    transform: scale(1);
    opacity: 0.5;
  }
}
@keyframes hold {
  0% {
    transform: rotateX(0deg);
  }
  10% {
    transform: rotateX(12.5deg);
  }
  30% {
    transform: rotateX(25deg);
  }
  80% {
    transform: rotateX(25deg);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.75;
  }
}
@keyframes swipe-x {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px) rotateZ(10deg);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-50px) rotateZ(-10deg);
  }
}
@keyframes swipe-y {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px) rotateZ(-10deg);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px) rotateZ(10deg);
  }
}
@keyframes flick-fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@keyframes flick {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: translateY(-12px) rotateZ(50deg);
  }
  25% {
    transform: rotateZ(5deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: translateY(-10deg) rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(45deg);
  }
}
@keyframes rock-on {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}
@keyframes note {
  0% {
    transform: scale(0) rotateZ(0deg);
    opacity: 0;
  }
  20% {
    transform: scale(1.1) rotateZ(10deg);
  }
  40% {
    transform: scale(0.9) rotateZ(-10deg);
  }
  50% {
    opacity: 0.75;
  }
  60% {
    transform: scale(1.1) rotateZ(10deg);
  }
  80% {
    transform: scale(0.9) rotateZ(-10deg);
  }
}
/* SVG ANIMATION */
.wrapper * {
  transform-origin: 50% 50%;
  perspective: 100px;
}

.hand {
  transform-origin: 25% 50%;
}

.hand-tap {
  animation: tap 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

.hand-double {
  animation: tap-double 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

.tap-1,
.tap-2 {
  animation: tap-circle 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

.hand-hold {
  animation: hold 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

.hold-1, .hold-2 {
  animation: fade 1.25s ease-in backwards;
  animation-iteration-count: infinite;
}

.tap-2 {
  animation-delay: 0.2s;
}

.hand-x {
  animation: swipe-x 1.25s ease-in-out backwards;
  animation-iteration-count: infinite;
}

.hand-y {
  animation: swipe-y 1.25s ease-in-out backwards;
  animation-iteration-count: infinite;
}

.hand-flick {
  animation: flick 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

.arrows {
  opacity: 0;
  animation: flick-fade 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

.hand,
.swipe-rotate {
  animation: spin 1.25s ease-in-out backwards;
  animation-iteration-count: infinite;
}

.hand-rock {
  animation: rock-on 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

.notes {
  animation: note 1.25s ease-out backwards;
  animation-iteration-count: infinite;
}

header {
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  transition: 0.3s ease all;
  z-index: 3;
}
body.dark header {
  background-color: #272b2d;
}
header a {
  color: #5f7f7f;
}
body.dark header a {
  color: #dcefeb;
}

.logo {
  height: 46px;
}

.content-logo {
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "MontSerrat";
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.51px;
  font-weight: 900;
  font-style: normal;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.content-logo img {
  max-width: 1.2em;
  margin-right: 0.5em;
}

.nav-icon {
  display: flex;
  left: 94vw;
  top: 20px;
  position: fixed;
  z-index: 3;
  max-width: 18vmax;
}

.menu {
  max-width: 6vmax;
  min-width: 40px;
  color: #43655a;
}
body.dark .menu {
  color: #ebfcff;
}

.iconStyle {
  padding-right: 0.5em;
  color: #43655a;
}
body.dark .iconStyle {
  color: #ebfcff;
}

.links {
  display: none;
}
.links ul {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  padding: 0;
  margin: 0;
}
.links ul li {
  display: flex;
  flex-basis: -moz-available;
  justify-content: center;
  align-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0px;
  margin-left: 0px;
}
.links ul li a {
  padding: 0;
  margin: 0;
  font-family: "ubuntu";
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.128em;
  font-weight: 500;
}
.links ul li a:hover {
  color: #474554;
}
body.dark .links ul li a:hover {
  color: #2b8075;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s ease all;
  z-index: 1;
  background-color: #f0f0f0;
  padding-top: 3em;
  padding-bottom: 2em;
  color: #43655a;
  border: 1px solid #ced1d7;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
body.dark .presentation {
  background-color: #272b2d;
  color: #ebfcff;
  border: 1px solid #425561;
}
.presentation img {
  position: absolute;
  max-width: 8em;
  margin-top: -2.7em;
  border-radius: 100%;
}
.presentation a.background-img {
  position: relative;
  width: 5em;
  height: 5em;
  padding: 13px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #829aa0;
  border-radius: 100%;
}
body.dark .presentation a.background-img {
  background-color: #2d6464;
}
.presentation p {
  font-family: "ubuntu";
  font-size: 19px;
  line-height: 0.5;
  letter-spacing: 0.059em;
  font-weight: 500;
  margin-top: 0.2em;
  margin-bottom: 2em;
}

.contacts {
  display: flex;
  flex-direction: row;
}
.contacts .circle {
  border: 1px solid;
  border-radius: 200px;
  padding: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  color: #5f7f7f;
}
body.dark .contacts .circle {
  color: #dcefeb;
}
.contacts .circle i {
  margin-left: 0.3em;
  margin-right: 0.3em;
  font-size: 18px;
}
.contacts .circle:hover {
  -webkit-animation: spin 1s linear 1;
  -moz-animation: spin 1s linear 1;
  animation: spin 1s linear 1;
  color: #474554;
}
body.dark .contacts .circle:hover {
  color: #2b8075;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 800px) {
  .nav-icon {
    left: 91vw;
  }
}
@media only screen and (max-width: 600px) {
  .nav-icon {
    left: 85vw;
  }
  .links {
    display: none;
  }
  .links ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .links ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  .links ul li a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .links ul li a:hover {
    color: #474554;
  }
  body.dark .links ul li a:hover {
    color: #2b8075;
  }
  .links ul li:hover {
    background-color: #774927;
  }
}
.buttonTop {
  bottom: 43px;
  right: 10px;
  position: fixed;
  z-index: 2;
  visibility: hidden;
}
.buttonTop i {
  font-size: 36px;
}

footer {
  border: 1px solid #ced1d7;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  margin-top: 2em;
  padding-top: 1em;
  bottom: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s ease all;
}
body.dark footer {
  border: 1px solid #425561;
}

.licence {
  display: flex;
  justify-content: center;
}
.licence i {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.right {
  font-family: Montserrat;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.144em;
  font-weight: 500;
}
.right p {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: -moz-available;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 2em;
  background-color: #ced1d7;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.51), 0 0 0 1px rgba(10, 10, 10, 0.02);
  font-family: "ubuntu";
}
body.dark .article {
  background-color: #383e3c;
}
.article .title {
  color: #43655a;
  font-size: 24px;
  margin-top: 0.5em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
body.dark .article .title {
  color: #ebfcff;
}
.article .imagePost a img {
  width: 100%;
}
.article .caption {
  display: none;
}
.article .themes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.article .tags, .article .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article .tags a:hover, .article .categories a:hover {
  border-radius: 20px;
  background-color: #5f7f7f;
  color: #272b2d;
}
body.dark .article .tags a:hover, body.dark .article .categories a:hover {
  background-color: #dcefeb;
  color: #272b2d;
}
.article .tag-link, .article .category-link {
  font-family: "ubuntu";
  color: #383838;
  padding: 0.3em;
}
body.dark .article .tag-link, body.dark .article .category-link {
  color: #8f7158;
}
.article .display {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.5em;
  font-family: "ubuntu";
  text-align: right;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.11em;
  font-weight: 100;
  font-style: normal;
  color: #649776;
}
body.dark .article .display {
  color: #649776;
}
.article .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.article .tag-link {
  font-family: "ubuntu";
  color: #383838;
}
body.dark .article .tag-link {
  color: #8f7158;
}
.article .article-footer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.article .article-footer .excerpt-link {
  background-color: #383838;
  color: #f0f0f0;
  padding: 1em;
  font-size: 14px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body.dark .article .article-footer .excerpt-link {
  background-color: #8f7158;
  color: #272b2d;
}
.article .article-footer .excerpt-link:hover {
  background-color: #43655a;
  color: #c8fcea;
}
body.dark .article .article-footer .excerpt-link:hover {
  background-color: #ebfcff;
  color: #1d2122;
}
.article .article-footer__right {
  font-family: "Noto Sans";
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.169em;
  font-weight: 100;
  font-style: italic;
  text-align: right;
  margin: 0.5em;
}

.content {
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-align: justify;
  font-size: 14px;
}
.content p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.content p a {
  color: #43655a;
}
body.dark .content p a {
  color: #ebfcff;
}
.content h1 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 21px;
}
.content h2 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 20px;
}
.content h3 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 19px;
}
.content h4 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 18px;
}
.content h5 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 17px;
}
.content h6 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-size: 16px;
}

.categories::before {
  content: "\f276";
  font-family: "FontAwesome";
  margin-right: 0.4em;
  place-self: center;
  color: #324b4c;
}
body.dark .categories::before {
  color: #007c4a;
}

.tags::after {
  content: "\f02e";
  font-family: "FontAwesome";
  margin-left: 0.4em;
  place-self: center;
  color: #324b4c;
}
body.dark .tags::after {
  color: #007c4a;
}

.imagePost {
  display: flex;
}
.imagePost a {
  display: contents;
}

@media only screen and (max-width: 800px) {
  .article {
    width: --moz-available;
    width: -webkit-fill-available;
  }
  .fancybox img {
    width: -webkit-fill-available;
  }
}
@media only screen and (max-width: 600px) {
  .fancybox img {
    width: inherit;
    max-width: -webkit-fill-available;
  }
}
.post .article {
  margin-left: 4em;
  margin-right: 4em;
}
.post .article .content {
  margin-top: 1em;
}
.post .article .content p {
  text-align: justify;
  font-size: 16px;
  margin-top: 0.7em;
}
.post .article .content p strong {
  font-weight: 900;
}
.post .tags {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.post img {
  max-width: 60%;
  margin: 0 auto 0 auto;
  display: block;
}
.post ul {
  list-style: disc;
  display: flex;
  flex-direction: column;
}
.post ul li {
  margin-top: 0.6em;
}
.post ol {
  display: flex;
  flex-direction: column;
}
.post ol li {
  margin-top: 0.6em;
}

.post-pagination {
  margin: 0;
  margin-top: 1em;
}
.post-pagination ul {
  margin: 0;
  margin-left: 2.3em;
  margin-right: 2.3em;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post-pagination ul li {
  margin-top: 0.5em;
  font-weight: 600;
  font-size: 12px;
  font-family: "Montserrat";
}
.post-pagination ul li a {
  color: #324b4c;
  margin-right: 0.3em;
  padding: 0.3em;
  font-weight: 500;
}
body.dark .post-pagination ul li a {
  color: #007c4a;
}
.post-pagination ul li a:hover {
  border-radius: 20px;
  background-color: #383838;
  color: #c8fcea;
}
body.dark .post-pagination ul li a:hover {
  background-color: #8f7158;
  color: #1d2122;
}

@media only screen and (max-width: 800px) {
  .post .article {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media only screen and (max-width: 600px) {
  .post .article {
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
  }
  .post-pagination ul {
    justify-content: center;
  }
}
.archive {
  font-family: "ubuntu";
  display: flex;
}
.archive .year-wrap {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.035em;
  font-weight: 700;
}
.archive .year-wrap a {
  color: #474554;
}
body.dark .archive .year-wrap a {
  color: #2b8075;
}
.archive .archives {
  display: flex;
  margin-top: 0.4em;
  max-width: 1200px;
  flex-wrap: wrap;
}
.archive .post-archive {
  margin: 0.5em;
  padding: 0.5em;
  max-width: 300px;
  background-color: #ced1d7;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.51), 0 0 0 1px rgba(10, 10, 10, 0.02);
}
body.dark .archive .post-archive {
  background-color: #383e3c;
}
.archive .post-archive .post-archive__content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.archive .post-archive .post-archive__month {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 200;
}
.archive .post-archive .post-archive__body {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.archive .post-archive .post-archive__title {
  color: #43655a;
  margin-bottom: 0.7em;
  font-weight: 900;
  font-size: 17px;
}
body.dark .archive .post-archive .post-archive__title {
  color: #ebfcff;
}
.archive .post-archive .post-archive__excerpt-content {
  font-size: 14px;
  font-weight: 200;
}

@media only screen and (max-width: 995px) {
  .archive {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media only screen and (max-width: 728px) {
  .archive {
    max-width: 100vw;
  }
  .archive .post-archive {
    max-width: 100vw;
  }
}
.highlight {
  font-family: "Meslo LG";
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.025em;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 1.3em;
  margin-right: 0.5em;
  background-color: #f0f0f0;
  overflow: auto;
}
body.dark .highlight {
  background-color: #272b2d;
}
.highlight table {
  border: 0;
  margin-left: 0;
  margin-right: 0;
  width: auto;
  text-align: initial;
}
.highlight table tbody tr:nth-child(2n) {
  background-color: #f0f0f0;
}
body.dark .highlight table tbody tr:nth-child(2n) {
  background-color: #272b2d;
}
.highlight table tbody tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
body.dark .highlight table tbody tr:nth-child(2n+1) {
  background-color: #272b2d;
}

.gutter {
  background-color: #d9d9d9;
  color: #ced1d7;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #43655a;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  border-radius: 8px 0 0 8px;
}
body.dark .gutter {
  background-color: #272b2d;
  color: #383e3c;
}
.gutter pre, .gutter span {
  background-color: #d9d9d9;
  color: #5f7f7f;
}
body.dark .gutter pre, body.dark .gutter span {
  background-color: #272b2d;
  color: #dcefeb;
}

.code pre {
  background-color: #f0f0f0;
  color: #383838;
}
body.dark .code pre {
  background-color: #272b2d;
  color: #8f7158;
}

pre .code {
  background-color: #f0f0f0;
  color: #383838;
  background-color: #272b2d;
  color: #8f7158;
}

.code .title {
  font-size: inherit;
  color: inherit;
}

.cv-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "ubuntu";
  color: #474554;
}
body.dark .cv-block {
  color: #c0c5c8;
}
.cv-block h1 {
  font-size: 44px;
}
.cv-block .charge, .cv-block .personal-data {
  display: flex;
  color: #383838;
}
body.dark .cv-block .charge, body.dark .cv-block .personal-data {
  color: #dcefeb;
}
.cv-block .charge li, .cv-block .personal-data li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.cv-block .block-content {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  width: -moz-available;
  width: -webkit-fill-available;
}
.cv-block .block-content h2 {
  color: #8f7158;
}
body.dark .cv-block .block-content h2 {
  color: #ebfcff;
}
.cv-block .block-content:nth-child(2n+1) {
  background-color: #FFF;
}
body.dark .cv-block .block-content:nth-child(2n+1) {
  background-color: #363e40;
}
.cv-block .block-content:nth-child(2n) {
  background-color: #f0f0f0;
}
.cv-block .block-content:nth-child(2n) .card-skill {
  background-color: #FFF;
}
body.dark .cv-block .block-content:nth-child(2n) {
  background-color: #272b2d;
}
body.dark .cv-block .block-content:nth-child(2n) .card-skill {
  background-color: #363e40;
}
.cv-block .block-content ul {
  list-style-type: disc;
}
.cv-block .block-content ul li {
  margin-bottom: 0.5em;
}
.cv-block .block-content .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: start;
}
.cv-block .block-content .card-skill {
  flex-basis: 20vw;
  display: flex;
  flex-direction: column;
  width: -moz-available;
  width: -webkit-fill-available;
  min-width: 200px;
  text-align: center;
  border-radius: 20px;
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  color: #383838;
}
body.dark .cv-block .block-content .card-skill {
  background-color: #272b2d;
  color: #dcefeb;
}
.cv-block .block-content .card-skill .ldBar.auto.label-center svg {
  padding: unset;
}
.cv-block .block-content .card-skill .ldBar.auto.label-center .ldBar-label::after {
  content: "%";
}
.cv-block .section-content {
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  padding-left: 1em;
  border: 10px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.cv-block .section-content:nth-child(2n+1) {
  border-color: #2d6464;
}
body.dark .cv-block .section-content:nth-child(2n+1) {
  border-color: #2b8075;
}
.cv-block .section-content:nth-child(2n) {
  border-color: #ced1d7;
}
body.dark .cv-block .section-content:nth-child(2n) {
  border-color: #8f7158;
}

@media only screen and (max-width: 520px) {
  .cv-block .block-content .card-skill {
    width: -moz-available;
    min-width: -moz-available;
    max-width: -moz-available;
    width: -webkit-fill-available;
    min-width: -webkit-fill-available;
    max-width: -webkit-fill-available;
  }
}
.block-send-email {
  margin-left: 2em;
  margin-right: 2em;
  font-family: "ubuntu";
}
.block-send-email .title {
  text-align: center;
}
.block-send-email .email {
  margin-top: 0.4em;
  font-size: 19px;
  font-weight: 700;
}
.block-send-email .send-email {
  background-color: #383838;
  color: #f0f0f0;
  font-size: 14px;
  border: 0;
  padding: 1em;
  text-transform: capitalize;
}
body.dark .block-send-email .send-email {
  background-color: #8f7158;
  color: #272b2d;
}
.block-send-email .send-email:hover {
  background-color: #43655a;
  color: #c8fcea;
}
body.dark .block-send-email .send-email:hover {
  background-color: #ebfcff;
  color: #1d2122;
}
.block-send-email .alerts .alert-content {
  margin-top: 1em;
  padding: 1em;
  background-color: #f2e6e5;
  border: 0.8em solid #c65959;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}
body.dark .block-send-email .alerts .alert-content {
  background-color: #f2e6e5;
  border: 0.8em solid #c65959;
}
.block-send-email .alerts .alert-content h1 {
  font-size: 18px;
  margin: 0;
  color: #c65959;
}
body.dark .block-send-email .alerts .alert-content h1 {
  color: #c65959;
}
.block-send-email .alerts .alert-content p {
  margin: 0;
  margin-top: 0.5em;
  font-size: 14px;
  color: #cc6a6a;
}
body.dark .block-send-email .alerts .alert-content p {
  color: #cc6a6a;
}

.highlight {
  font-family: "Meslo LG";
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.025em;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 1.3em;
  margin-right: 0.5em;
  background-color: #f0f0f0;
  overflow: auto;
}
body.dark .highlight {
  background-color: #272b2d;
}
.highlight table {
  border: 0;
  margin-left: 0;
  margin-right: 0;
  width: auto;
  text-align: initial;
}
.highlight table tbody tr:nth-child(2n) {
  background-color: #f0f0f0;
}
body.dark .highlight table tbody tr:nth-child(2n) {
  background-color: #272b2d;
}
.highlight table tbody tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
body.dark .highlight table tbody tr:nth-child(2n+1) {
  background-color: #272b2d;
}

.gutter {
  background-color: #d9d9d9;
  color: #ced1d7;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #43655a;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  border-radius: 8px 0 0 8px;
}
body.dark .gutter {
  background-color: #272b2d;
  color: #383e3c;
}
.gutter pre, .gutter span {
  background-color: #d9d9d9;
  color: #5f7f7f;
}
body.dark .gutter pre, body.dark .gutter span {
  background-color: #272b2d;
  color: #dcefeb;
}

.code pre {
  background-color: #f0f0f0;
  color: #383838;
}
body.dark .code pre {
  background-color: #272b2d;
  color: #8f7158;
}

pre .code {
  background-color: #f0f0f0;
  color: #383838;
  background-color: #272b2d;
  color: #8f7158;
}

.code .title {
  font-size: inherit;
  color: inherit;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  font-family: "ubuntu";
  text-align: justify;
}
.about .img-personal {
  margin: 0 auto;
  margin-top: 1em;
}
.about .img-personal img {
  max-width: 160px;
  border: 1px solid #ced1d7;
  border-radius: 10px;
}
body.dark .about .img-personal img {
  border: 1px solid #425561;
}
.about .description {
  background-color: #d5d2e4;
  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;
}
body.dark .about .description {
  background-color: #324b50;
}
.about .description p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.phrase {
  font-family: "montserrat";
  text-align: center;
  margin: 0;
}
.phrase h1 {
  margin: 0;
  text-transform: capitalize;
}

.show {
  visibility: visible;
}

.show-block {
  display: block;
}

.show-block-flex {
  display: flex;
}

.hide-block {
  display: none;
}

.highlight {
  font-family: "Meslo LG";
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.025em;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 1.3em;
  margin-right: 0.5em;
  background-color: #f0f0f0;
  overflow: auto;
}
body.dark .highlight {
  background-color: #272b2d;
}
.highlight table {
  border: 0;
  margin-left: 0;
  margin-right: 0;
  width: auto;
  text-align: initial;
}
.highlight table tbody tr:nth-child(2n) {
  background-color: #f0f0f0;
}
body.dark .highlight table tbody tr:nth-child(2n) {
  background-color: #272b2d;
}
.highlight table tbody tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
body.dark .highlight table tbody tr:nth-child(2n+1) {
  background-color: #272b2d;
}

.gutter {
  background-color: #d9d9d9;
  color: #ced1d7;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #43655a;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  border-radius: 8px 0 0 8px;
}
body.dark .gutter {
  background-color: #272b2d;
  color: #383e3c;
}
.gutter pre, .gutter span {
  background-color: #d9d9d9;
  color: #5f7f7f;
}
body.dark .gutter pre, body.dark .gutter span {
  background-color: #272b2d;
  color: #dcefeb;
}

.code pre {
  background-color: #f0f0f0;
  color: #383838;
}
body.dark .code pre {
  background-color: #272b2d;
  color: #8f7158;
}

pre .code {
  background-color: #f0f0f0;
  color: #383838;
  background-color: #272b2d;
  color: #8f7158;
}

.code .title {
  font-size: inherit;
  color: inherit;
}

/*# sourceMappingURL=site.css.map */
