extends ../_partial/layout

block content
  .container.post
    section.article
      .title= page.title
      .date
        p #{moment(page.date).format(theme.date_format)}
      .content!= page.content
      if page.tags
        .tags!= list_tags(page.tags, { show_count: false, class: 'tag', style: false, separator: '' })

  .post-pagination
    ul.nav
      if page.prev
        li Post Anterior:
          a(href=url_for(page.prev.path))= page.prev.title || 'Sin Url'
      if page.next
        li Post Siguiente:
          a(href=url_for(page.next.path))= page.next.title || 'Sin Url'

    if !index && config.disqus_shortname
      .comments
        #disqus_thread
          noscript Please enable JavaScript to view the
            a(href="http://disqus.com/?ref_noscript") comments powered by Disqus

block js
  != js('script/post')
  if config.disqus_shortname
    script
      | var disqus_shortname = '!{config.disqus_shortname}';
      if page.permalink
        | var disqus_url = '!{page.permalink}';
        | (function(){
        |  var dsq = document.createElement('script');
        |  dsq.type = 'text/javascript';
        |  dsq.async = true;
        |  dsq.src = '//' + disqus_shortname + '.disqus.com/!{page.comments ? 'embed.js' : 'count.hs'}';
        |  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        | })();
