@import '../base/config';

.post {
    .article {
        // max-width: 1100px;
        margin-left: 4em;
        margin-right: 4em;

        .content {
            margin-top: 1em;

            p {
                text-align: justify;
                font-size: 16px;
                margin-top: 0.7em;

                strong {
                    font-weight: 900;
                }
            }
        }
    }

    .tags {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    img {
        max-width: 60%;
        margin: 0 auto 0 auto;
        display: block;
    }

    ul {
        list-style: disc;
        display: flex;
        flex-direction: column;
        li {
            margin-top: 0.6em;
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        li {
            margin-top: 0.6em;
        }
    }
}

.post-pagination {
    margin: 0;
    margin-top: 1em;
    ul {
        margin: 0;
        margin-left: 2.3em;
        margin-right: 2.3em;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            margin-top: 0.5em;
            font-weight: 600;
            font-size: 12px;
            font-family: "Montserrat";

            a {
                color: $color-icon-white;
                margin-right: 0.3em;
                padding: 0.3em;
                font-weight: 500;

                body.dark & {
                    color: $color-icon-black;
                }

                &:hover {
                    border-radius: 20px;
                    background-color: $color-content-white;
                    color: $color-button-select;

                    body.dark & {
                        background-color: $color-content-black;
                        color: $color-button-select-black;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .post {
        .article {
            margin-left: 2em;
            margin-right: 2em;
        }
    }
}

@media only screen and (max-width: 600px) {
    .post {
        .article {
            margin-left: 1em;
            margin-right: 1em;
            width: 100%;
        }
    }

    .post-pagination {
        ul {
            justify-content: center;
        }
    }
}
