@import '../base/config';

.container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;

    max-width: 700px;
    width: -moz-available;

    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;

    background-color: $color-background-article;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, 0.51),0 0 0 1px rgba(10,10,10,.02);

    font-family: "ubuntu";

    body.dark & {
        background-color: $color-background-article-black;
    }

    .title {
        color: $color-header-a-strong;
        font-size: 24px;

        margin-top: 0.5em;
        margin-left: 0.3em;
        margin-right: 0.3em;

        body.dark & {
            color: $color-header-a-strong-black;
        }
    }

    .imagePost a img {
        width: 100%;
    }

    .caption {
        display: none;
    }

    .themes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0.8em;
        margin-right: 0.8em;
    }

    .tags, .categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a:hover {
            border-radius: 20px;
            background-color: $color-header-a-weak;
            color: $color-tag-white;

            body.dark & {
                background-color: $color-header-a-weak-black;
                color: $color-tag-black;
            }
        }
    }

    .tag-link, .category-link {
        font-family: "ubuntu";
        color: $color-content-white;
        padding: 0.3em;

        body.dark & {
            color: $color-content-black;
        }
    }

    .display {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0.5em;

        font-family: "ubuntu";
        text-align: right;

        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 0.11em;
        font-weight: 100;
        font-style: normal;

        color: #649776;

        body.dark & {
            color: #649776;
        }
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .tag-link {
        font-family: "ubuntu";
        color: $color-content-white;

        body.dark & {
            color: $color-content-black;
        }
    }

    .article-footer {
        display: flex;
        flex-direction: column;
        margin-top: 1em;

        .excerpt-link {
            background-color: $color-content-white;
            color: $color-background-header-white;
            padding: 1em;
            font-size: 14px;

            text-align: center;
            margin-left: auto;
            margin-right: auto;

            body.dark & {
                background-color: $color-content-black;
                color: $color-background-header-black;
            }

            &:hover {
                background-color: $color-header-a-strong;
                color: $color-button-select;

                body.dark & {
                    background-color: $color-header-a-strong-black;
                    color: $color-button-select-black;
                }
            }
        }
    }

    .article-footer__right {
        font-family: "Noto Sans";
        font-size: 11px;
        line-height: 1.2;
        letter-spacing: 0.169em;
        font-weight: 100;
        font-style: italic;
        text-align: right;
        margin: 0.5em;
    }
}

.content {
    margin-left: 0.8em;
    margin-right: 0.8em;
    text-align: justify;

    font-size: 14px;

    p {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        a {
            color: $color-header-a-strong;

            body.dark & {
                color: $color-header-a-strong-black;
            }
        }
    }

    h1 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        font-size: 21px;
    }

    h2 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        font-size: 20px;
    }

    h3 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        font-size: 19px;
    }

    h4 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        font-size: 18px;
    }

    h5 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        font-size: 17px;
    }

    h6 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        font-size: 16px;
    }
}

.categories::before {
    content: "\f276";
    font-family: "FontAwesome";
    margin-right: 0.4em;
    place-self: center;
    color: $color-icon-white;

    body.dark & {
        color: $color-icon-black;
    }
}

.tags::after {
    content: "\f02e";
    font-family: "FontAwesome";
    margin-left: 0.4em;
    place-self: center;
    color: $color-icon-white;

    body.dark & {
        color: $color-icon-black;
    }
}

.imagePost {
    display: flex;
    a {
        display: contents;
    }
}

@media only screen and (max-width: 800px) {
    .article {
        width: --moz-available;
        width: -webkit-fill-available;

    }

    .fancybox {
        img {
            width: -webkit-fill-available;
        }
    }
}

@media only screen and (max-width: 600px) {
    .fancybox {
        img {
            width: inherit;
            max-width: -webkit-fill-available;
        }
    }
}
