@import '../base/config';

.buttonTop {
    bottom: 43px;
    right: 10px;
    position: fixed;
    z-index: 2;
    visibility: hidden;
    i {
        font-size: 36px;
    }
}

footer {
    border: 1px solid $color-border-white;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    margin-top: 2em;
    padding-top: 1em;
    bottom: 0;
    width: -moz-available;
    width: -webkit-fill-available;

    display: flex;
    flex-direction: column;
    text-align: center;

    transition: .3s ease all;

    body.dark & {
        border: 1px solid $color-border-black;
    }
}

.licence {
    display: flex;
    justify-content: center;

    i {
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
}

.right {
    // Letter
    font-family: Montserrat;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.144em;
    font-weight: 500;

    p {
        margin: 0;
        margin-top: 1em;
        margin-bottom: 0.3em;
    }
}
