// Configuration of NAV

// Import Variables
@import '../base/_config';

// Style of Border
$border-line-image: 0.4px;
$border-radius-image: 20px;
$padding-header-base: 2em;

header {
    display: flex;
    background-color: $color-background-header-white;

    // Separated
    flex-direction: column;
    justify-content: center;

    // In Top Away
    position: fixed;
    width: -moz-available;
    width: -webkit-fill-available;

    // Order
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    transition: .3s ease all;

    z-index: 3;

    body.dark &{
        background-color: $color-background-header-black;
    }

    a {
        color: $color-header-a-weak;

        body.dark & {
            color: $color-header-a-weak-black;
        }
    }
}

.logo {
    height: 46px;
}

.content-logo {
    // Display Content
    display: none;
    justify-content: center;
    align-items: center;

    // Letter
    font-family: "MontSerrat";
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.51px;
    font-weight: 900;
    font-style: normal;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    img {
        max-width: 1.2em;
        margin-right: 0.5em;
    }
}

.nav-icon {
    display: flex;
    left: 94vw;
    top: 20px;
    position: fixed;
    z-index: 3;
    max-width: 18vmax;
}

.menu {
    max-width: 6vmax;
    min-width: 40px;
    color: $color-header-a-strong;

    body.dark & {
        color: $color-header-a-strong-black;
    }
}

.iconStyle {
    padding-right: 0.5em;
    color: $color-header-a-strong;

    body.dark & {
        color: $color-header-a-strong-black;
    }
}

.links {
    display: none;
    ul {
        // Flexbox
        display: flex;
        justify-content: space-around;
        align-content: stretch;
        align-items: stretch;

        // Placement
        padding: 0;
        margin: 0;

        li {
            // Flex Content
            display: flex;
            flex-basis: -moz-available;
            justify-content: center;
            align-content: center;

            // Placement
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            margin-right: 0px;
            margin-left: 0px;

            a {
                padding: 0;
                margin: 0;

                // Letter
                font-family: "ubuntu";
                font-size: 14px;
                line-height: 1.1;
                letter-spacing: 0.128em;
                font-weight: 500;
            }

            a:hover {
                color: $color-header-a-strong-select;

                body.dark & {
                    color: $color-header-a-strong-select-black;
                }
            }
        }
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    transition: .3s ease all;

    z-index: 1;

    background-color: $color-background-header-white;

    padding-top: 3em;
    padding-bottom: 2em;

    color: $color-header-a-strong;

    border: 1px solid $color-border-white;
    border-left: 0;
    border-right: 0;
    border-top: 0;

    body.dark & {
        background-color: $color-background-header-black;
        color: $color-header-a-strong-black;
        border: 1px solid $color-border-black;
    }

    img {
        position: absolute;
        max-width: 8em;
        margin-top: -2.7em;
        border-radius: 100%;
    }

    a.background-img {
        position: relative;
        width: 5em;
        height: 5em;
        padding: 13px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        background-color: $color-circle-avatar;
        border-radius: 100%;

        body.dark & {
            background-color: $color-circle-avatar-black;
        }
    }

    p {
        font-family: "ubuntu";
        font-size: 19px;
        line-height: 0.5;
        letter-spacing: 0.059em;
        font-weight: 500;

        margin-top: 0.2em;
        margin-bottom: 2em;
    }
}

.contacts {
    display: flex;
    flex-direction: row;

    .circle {
        border: 1px solid;
        border-radius: 200px;

        padding: 0.3em;
        margin-left: 0.3em;
        margin-right: 0.3em;
        color: $color-header-a-weak;

        body.dark & {
            color: $color-header-a-weak-black;
        }

        i {
            margin-left: 0.3em;
            margin-right: 0.3em;

            font-size: 18px;
        }

        &:hover {
            -webkit-animation:spin 1s linear 1;
            -moz-animation:spin 1s linear 1;
            animation:spin 1s linear 1;
            color: $color-header-a-strong-select;

            body.dark & {
                color: $color-header-a-strong-select-black;
            }
        }
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}

@media only screen and (max-width: 800px) {
    .nav-icon {
        left: 91vw;
    }
}

@media only screen and (max-width: 600px) {
    .nav-icon {
        left: 85vw;
    }

    .links {
        display: none;
        ul {
            // Content
            display: flex;
            flex-direction: column;

            // Position
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: center;

                padding-top: 0.4em;
                padding-bottom: 0.4em;

                a {
                    // Position
                    padding-left: 5px;
                    padding-right: 5px;

                    &:hover {
                        color: $color-header-a-strong-select;

                        body.dark & {
                            color: $color-header-a-strong-select-black;
                        }
                    }
                }

                &:hover {
                    background-color: $color-brown-white;
                }
            }
        }
    }
}
